/* font-family: "Russo One", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Roboto Condensed", sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
h2, h3{
    font-family: "Russo One", sans-serif;
}
p, a{
    font-family: "Montserrat", sans-serif;
}
.container{
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}
/* ------header-section-style----- */
header{
    padding-top: 10px;
}
header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header h2{
    font-size: 18px;
    line-height: 25px;
    color: #2478B4;
    font-weight: 400;
    text-transform: uppercase;
}
header p a{
    font-size: 14px;
    font-weight: 400;
    font-family: "Russo One", sans-serif;
    color: #6C6C6C;
}
header a{
    color: #2578B4;
    font-size: 20px;
}
header .fa-instagram{
    padding-left: 35px;
}
header .content{
    border-left: 1px solid rgba(92, 92, 92, .4);
    padding-left: 15px;
}
header form{
    max-width: 385px;
    display: flex;
}
header input {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #2478B4;
    border-radius: 8px 0px 0px 8px;
    padding: 8px 0;
    outline: none;
    padding-left: 15px;
    color: #A9A9A9;
}
header button{
    font-size: 18px;
    font-weight: 400;
    background: #2478B4;
    color: white;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
/* -----header-section-style-end----- */
/* -----nav-section-style----- */
nav{
    background: #DDDDDD;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .map-icon{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
nav ul{
    display: flex;
}
nav .button{
    font-size: 18px;
    font-weight: 700;
    color: white;
    line-height: 50px;
    background-color: #2478B4;
    width: 180px;
    height: 50px;
    text-align: center;
    display: inline-block;
}
.button .fa-solid{
    color: white;
    padding-left: 10px;
}
nav ul li a{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    color: black;
    padding: 0 25px;
    background: none;
    font-weight: 700;
}
nav select{
    border: none;
    outline: none;
    background: #DDDDDD;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
nav h3{
    font-size: 18px;
    color: #5C5C5C;
}
nav .fa-solid  {
    color: #5C5C5C;
    font-size: 17px;
}
/* -----nav-section-style-end----- */
.slider-section{
    width: 100%;
}
.slider-section .item {
    background: url(./imags/logo/Group\ 7.png);
    background-size: 100% 100%;
    /* padding: 60px 0; */
    background-repeat: no-repeat;
}
.slider-section .main-column{
    width: 100%;
    display: flex;
}
.slider-section .left-column, .right-column{
    width: 50%;
}
.slider-section .main-column h3{
    font-size: 14px;
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-family: "Montserrat", sans-serif; 
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 55px;

}
.slider-section .main-column h2{
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.slider-section .bold{
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.slider-section p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 28px;
    margin-bottom: 10px;
}
.slider-section .content{
    max-width: 534px;
}
.slider-section a {
    font-size: 14px;
    line-height: 50px;
    display: inline-block;
    background-color: white;
    text-transform: uppercase;
    color: #2578B4;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 30px;
}
.owl-dots {
    position: relative;
    top: -87px;
    left: 67px;
    width: 100%;
}
.owl-next{
    position: relative;
    left: 133px;
    top: -60px;
    font-size: 25px !important;
    color: #fff !important;
}
.owl-prev{
    position: relative;
    left: 10px;
    top: -60px;
    font-size: 25px !important;
    color: #fff !important;
}
